html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}



.container-fluid{
  padding : 0% 0% 0%;    
}

.navbar-nav{
  padding : 0% 0% 0%;    

}

.gap3{
  color: rgb(77, 0, 128);
  text-align: center;
  margin: auto;
  /* width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */

}

.gap1{
  color: rgb(77, 0, 128);

  padding-top: 5%;
}

#features{
  color: rgb(77, 0, 128);
  padding: 7% 10%;
}

.features-box{
  color: rgb(77, 0, 128);

  text-align: center;
  padding: 2%;
 
}


.gap{
  padding: 7% 0%;
}
/* .gap1{
  padding-top: 5%;
} */
.gap2{
  color: rgb(77, 0, 128);

  padding-top: 2%;
}

.gap4{
  background-color:rgb(15, 1, 24);
}